<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title> {(BnB)} Market </title>
  </head>
  <body>
    Market BnB
    <a href = '/make_listings' > Looking to show your own listing? </a>
    <h1> BnB-able properties </h1>
    <div class="wrapper" style="width: 150%; background-color:white; height: 220px; overflow: auto; display: flex;" >
      <% @property.all.each do |record| %>
        <div class="scrolls" style = 'display: flex; flex-direction: column; width: 220px'>
          <td class = 'new_BnB'> <%= record.address %> </td>
          <td class = 'code_BnB'> <%= record.post_code %> </td>
          <a id="OpenDialog" href="#"> <img src = <%= record.photo %> width="300" height="200" alt='test' ></a> 
        </div>
        <%# <a id="OpenDialog" href="#"> <img src = <%= record.photo width="300" height="200" alt='test' > %> 
        <div id="dialog" title="Property Info" style="display: none;" >
          <p>Start date: <input type="text" id="datepicker"> End date: <input type="text" id="datepicker2"></p>
          <input type = "submit" value='Submit'>
          <h1 font size='2'> Description </h1>
          <p> lorem ipsum </p>      
        </div>
      <% end %>
    </div>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <%# <title>jQuery UI Datepicker - Default functionality</title> %>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%# <link rel="stylesheet" href="/resources/demos/style.css"> %>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script src="interface.js"></script>
  </body>
</html>