<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title> {(BnB)} landlord </title>
  </head>
<div id = landlord1>
</div>
<body>

Below add details of your property

<button type=submit id=signUpButton>Add Info</button>

  <form id=signUpForm class='hidden_form' method=post action=log_in>
    <input type="text" class=text_field id='house_title' placeholder="Enter Description">
    <input type="text" class=text_field id='start' placeholder="Enter start date">
    <input type="text" class=text_field id='end' placeholder="Enter end date">
    <input type="text" class=text_field id='rules' placeholder="Enter any house rules">
    <input type=submit id='submitNewProperty' value=Submit>
  </form>

<button type="button" name="Msgs">MSGs</button>

<!-- will add jquery to open msg / or will be own page -->


  <script src="interface.js"></script>
  </body>
  </html>
