<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title> {(BnB)} Connect </title>
  </head>
<div id = Messages>

<form method = 'post' action='/Messages'>
<input type='text' name='MSGs'>
    <input type='submit' value='Send'>
</div>

